.bg-forgotpage {
    background-color: lightgrey;
}

.logo {
    width : 80px;
    height: 40px;
    \
}

.forgotPage-verticlelineBrandname {
    width: 1px;
    height: 60px;
    background-color: black;
}

.karykartaname {
    font-size: 25px;
    color: black;
    font-family: "Audiowide", sans-serif;
}

.forgotPage-card {
    background-color: white;
    border-color: blue;
    border-top: 0px;
    border-right: 1px solid blue;
    border-left: 1px solid blue;
    border-bottom: 2px solid blue;
    margin: 20px;
}

.forgotPage-closeIcon {
    color: black;
    font-size: 25px;
    padding-right: 10px;
}

.forgotHeading {
    color: blue;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 20px;
    font-style: italic;
}

.karyakartha-tagline {
    color: lightsteelblue;
    font-size: 16px;
}

.forgotPage-para {
    color: grey;
    font-size: 18px;
}

.forgotPage-emailHeading {
    color: black;
    font-weight: 600;
    font-size: 22px;
    padding: 20px;
}

.forgotPage-envelopeIcon {
    color: rgb(155, 150, 150);
    font-size: 18px;
}

.forgotPage-inputContainer {
    background-color: rgb(250, 248, 248);
    margin: 20px;
    font-size: 18px;
    width: 90%;
}

.forgotPage-input {
    background-color: rgb(250, 248, 248);
    border-width: 0px;
}

.forgotPage-resetButton {
    padding: 5px;
    text-align: center;
    margin: 20px;
    text-align: center;
    width: 90%;
}