.bg-forgotpage {
    background-color: white;
}

.outer-icon {
    color: blue;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.inner-icon {
    color: blue;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.forgotPage-card {}