                                                        .bg-forgotpage {
                                                            background-color: lightgrey;
                                                            height: 100vh;
                                                        }
                                                        
                                                        .logo {
                                                            background-size: cover;
                                                            width: 200px;
                                                            height: 80px;
                                                        }
                                                        
                                                        .navbar-toggler .line {
                                                            display: block;
                                                            width: 30px;
                                                            height: 3px;
                                                            margin: 4px 0;
                                                            background-color: light;
                                                            border: none;
                                                        }
                                                        
                                                        .navbar-toggler .short-line2 {
                                                            width: 10px;
                                                            transform: scaleX(0.5);
                                                        }
                                                        
                                                        .navbar-toggler {
                                                            background-color: light;
                                                            border: none;
                                                        }
                                                        
                                                        @media(max-width: 768px) {
                                                            .shadow-md-down {
                                                                box-shadow: none !important;
                                                            }
                                                        }
                                                        
                                                        .forgotPage-card {
                                                            border-radius: 10px;
                                                            padding: 10px;
                                                            background-color: light;
                                                            width: 500px;
                                                            margin-bottom: 300px;
                                                            margin-top: 200px;
                                                        }
                                                        
                                                        @media screen and (min-width: 768px) {
                                                            .forgotPage-card {
                                                                margin-top: 150px;
                                                                margin-bottom: 660px;
                                                                border-radius: 10px;
                                                                border-top: 0;
                                                                border-left: 2px solid blue;
                                                                border-right: 2px solid blue;
                                                                margin: 20px;
                                                                border-bottom: 3px solid blue;
                                                            }
                                                        }
                                                        
                                                        .forgotPage-closeIcon {
                                                            color: black;
                                                            font-size: 25px;
                                                            padding-right: 10px;
                                                        }
                                                        
                                                        .forgotHeading {
                                                            color: blue;
                                                            font-size: 30px;
                                                            padding-left: 30px;
                                                            padding-top: 20px;
                                                            font-style: italic;
                                                        }
                                                        
                                                        .karyakartha-tagline {
                                                            color: lightsteelblue;
                                                            font-size: 16px;
                                                        }
                                                        
                                                        .forgotPage-para {
                                                            color: grey;
                                                            font-size: 18px;
                                                        }
                                                        
                                                        .forgotPage-emailHeading {
                                                            color: black;
                                                            font-weight: 600;
                                                            font-size: 22px;
                                                            padding-left: 20px;
                                                            margin: 8px;
                                                        }
                                                        
                                                        .forgotPage-envelopeIcon {
                                                            color: rgb(155, 150, 150);
                                                            font-size: 25px;
                                                            margin-left: 10px;
                                                            margin: 2px;
                                                            margin-top: 4px;
                                                            margin-right: 4px;
                                                        }
                                                        
                                                        .forgotPage-inputContainer {
                                                            background-color: rgb(250, 248, 248);
                                                            margin: 20px;
                                                            font-size: 18px;
                                                            display: flex;
                                                            width: 100%;
                                                        }
                                                        
                                                        .forgotPage-input {
                                                            background-color: rgb(250, 248, 248);
                                                            border-width: 0px;
                                                            outline: none;
                                                            border: none;
                                                            flex: 1;
                                                        }
                                                        
                                                        .forgotPage-resetButton {
                                                            padding: 5px;
                                                            text-align: center;
                                                            width: 100%;
                                                            margin: 20px;
                                                        }
                                                        
                                                        .forgotPage-cardsmallDevices {
                                                            background-color: light;
                                                            color: black;
                                                            text-align: center;
                                                            border-radius: 10px;
                                                            margin-top: 50px;
                                                            margin-bottom: 30px;
                                                            font-size: 14px;
                                                            margin-left: 30px;
                                                            margin-right: 30px;
                                                        }
                                                        
                                                        .hrline {
                                                            border-width: 2px;
                                                            color: black;
                                                            text-align: center;
                                                            padding-left: 30px;
                                                            margin-top: 20px;
                                                            border-color: black;
                                                            width: 80px;
                                                            padding-bottom: 5px;
                                                            margin-bottom: 6px;
                                                        }
                                                        
                                                        .forgotContainer {
                                                            margin: 6px;
                                                            width: 80%;
                                                        }
                                                        
                                                        .forgotPageHeadingSmallDevice {
                                                            font-size: 20px;
                                                            color: black;
                                                            margin: 10px;
                                                        }
                                                        
                                                        .forgotPage-emailHeadingSmall {
                                                            font-size: 15px;
                                                            font-weight: 500;
                                                            padding-left: 20px;
                                                        }
                                                        
                                                        .forgotPage-resetButtonSmall {
                                                            padding: 5px;
                                                            text-align: center;
                                                            margin-left: 20px;
                                                            width: 100%;
                                                            font-size: 14px;
                                                            margin-bottom: 10px;
                                                        }